.editor-textarea{
  width: 96%;
  /* height: calc(100vh - 50px - 2rem - 2rem); */
  min-height: calc(100vh - 50px - 2rem - 2rem);
  max-height: max-content;
  resize: none;
  outline: none;
  font-family: 'Noe';
}
.editor-window{
  display: flex;
  gap: 0.67rem;
  margin-left: 0.2rem;

}
.editor-window>p{
  width: calc(100vw - 1rem - 0.67rem - 48%);
  word-break: break-word;
  margin-right: 1rem;
  font-family: 'Noe';
  margin-top: -1rem;
  /* text-align: left; */
}
.editor-window>p>h1{
  text-align: center;
}
.editor-error-parent{
  text-align: center;
}
.editor-error{
  display: none;
  background: linear-gradient(var(--website-theme-gradient-deg), var(--website-theme));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.editor-create{
  align-self: center;
}