@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap");
html {
  --home-nocreds-authbuttons-padding: 22px;
  --home-nocreds-authbuttons-width: 100%;
  --website-theme: #ce92ff; 
  --postrenderer-confirm-modal-buttons-gap: 3rem;
  --postrender-confirm-modal-buttons-size: 18rem;
  --postrenderer-confirm-modal-bordersize: 0.25rem;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Noe';
  src: url("../../storage/Noe-Text-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Noe-Bold';
  src: url("../../storage/Noe-Text-Bold.ttf") format('truetype');
}
body{
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
}
.heading-nav {
  background-color: var(--website-theme);
  border-bottom: 1px solid black;
  opacity: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  display: flex;
}
.branding-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 88%;
}
.heading-nav > .username {
  position: absolute;
  top: -5px;
  line-height: 16px;
  right: 5.5rem;
  font-size: 1.1rem; 
}

.heading-nav > a {
  color: black;
  text-decoration: none; }

.heading-nav > .login-logout {
  position: absolute;
  right: 12px;
  top: 0px;
  padding-right: 5px; }

.heading-nav > .register {
  position: absolute;
  top: 0;
  right: 5.2rem; }

.heading-nav-branding{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

/* .divider {
  padding-top: 32px; } */

.register-errorDisplay {
  display: none; }

html {
  padding-left: 3px; }

.auth-form {
  padding-top: 8px;
  padding-left: 5px; }

.confirm-text {
  padding-top: 15px; }

.home-nocreds {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center; }

.home-nocreds-title {
  text-align: center;
  font-size: 4.5rem;
  font-family: 'MuseoModerno', sans-serif; }

.home-nocreds-begforcreds {
  font-size: 0.9rem;
  text-align: center; }

.home-nocreds-authbuttons {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 60vw));
  grid-gap: 3rem;
  padding-top: 3rem;
  vertical-align: middle; }

.home-nocreds-authbuttons > a > button {
  width: var(--home-nocreds-authbuttons-width);
  padding-top: var(--home-nocreds-authbuttons-padding);
  padding-bottom: var(--home-nocreds-authbuttons-padding);
  border: none;
  cursor: pointer;
  font-size: calc(var(--home-nocreds-authbuttons-width) * 2);
  font-family: 'MuseoModerno';
  background-color: var(--website-theme); }

.home-nocreds-authbutton > a {
  text-decoration: none;
  color: black; }

.home-nocreds-login {
  float: block-start; }

.home-nocreds-signup {
  float: block-end; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(365deg);
    color: #1e1e1e; 
  } 
}
.uncompleted-loading {
  width: 4rem;
  height: 4rem;
  border: 5px solid #000;
  position: absolute;
  top: 48vh;
  left: 48vw;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  animation: rotation 1s linear infinite; 
}


.uncompleted-loading-checkinternet {
  /* position: absolute; */
  text-align: center;
  padding-top: calc(48vh + 5rem); 
}
.posts{
  display: grid;
}
.post-parent, .post, .post-body, .post-link{
  text-decoration: dotted;
}
.post{
  display: block;
  border: 1px solid black;
  width: 50vw;
  height: 80vh;
  margin: auto;
  /* text-align: center; */
  color: black;
  z-index: 1;
  overflow: hidden;
}
.post-body{
  overflow-y: scroll;
  border-top: 0.03rem solid black;
  border-bottom: 0.03rem solid black;
  height: 60vh;
  font-family: 'Noe';
  line-height: 190%;
  margin-left: 0.8rem;
  margin-right: 0.7rem;
  margin-bottom: 0px;
  text-align: left;
}
.post>a{
  text-decoration: none;
  color: black;
}
.post>a>img{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.post>h1{
  font-family: 'Noe-Bold';
  text-align: center;
}
.post-body>h1, .post-body>h2, .post-body>h3, .post-body>h4{
  text-align: center;
}
.post-username{
  text-align: center;
}
.postrenderer-management-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.postrenderer-confirm-modal-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.postrenderer-confirm-modal{
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  z-index: 2;
  padding: 0.5rem 1rem 0.5rem 1rem;
  vertical-align: middle;
  top: calc(40% - 0.5rem);
  text-align: center;
  border-radius: 5px;
  cursor: default;
}
.postrenderer-confirm-modal>div{
  width: 100%;
  text-align: right;
  height: 1.5rem;
}
.postrenderer-confirm-modal>div>svg{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.postrenderer-confirm-modal-button-yes{
  margin-right: var(--postrenderer-confirm-modal-buttons-gap);
  width: var(--postrenderer-confirm-modal-button-size);
  height: var(--postrenderer-confirm-modal-button-size);
  cursor: pointer;
}
.postrenderer-confirm-modal-button-no{
  margin-left: var(--postrenderer-confirm-modal-buttons-gap);
  width: var(--postrenderer-confirm-modal-buttons-size);
  height: var(--postrenderer-confirm-modal-buttons-size);
  cursor: pointer;
}
.authenticated-home{
  text-align: center;
}
.editor-textarea{
  width: 96%;
  /* height: calc(100vh - 50px - 2rem - 2rem); */
  min-height: calc(100vh - 50px - 2rem - 2rem);
  max-height: max-content;
  resize: none;
  outline: none;
  font-family: 'Noe';
}
.editor-window{
  display: flex;
  gap: 0.67rem;
}
.editor-window>p{
  width: calc(100vw - 1rem - 0.67rem - 48%);
  word-break: break-word;
  margin-right: 1rem;
  font-family: 'Noe';
  margin-top: -1rem;
  /* text-align: left; */
}
.editor-window>p>h1{
  text-align: center;
}
.editor-error{
  display: none;
}
.confirmEmail-prompt-parent{
  display: flex;
  justify-content: center;
}
.confirmEmail-prompt{
  vertical-align: middle;
  text-align: center;
  margin-top: calc(49vh - 5rem - 3rem - 5rem);
}
.confirmEmail-prompt>h1{
  font-size: 5rem;
}
.confirmEmail-prompt>p{
  font-size: 0.8rem;
}
.navbar-username{
  color: black;
}
.profile-parent{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: calc(99vh);
  width: 100%;
}
.profile{
  background-color: red;
  padding: 2.5rem 2rem 2.5rem 2rem;
  text-align: center;
}
.email-url, .post-url{
  color: black;
}
.newPost-window-button-parent{
  text-align: center;
}
.newPost-window-title{
  width: 46%;
  height: 1rem;
  resize: none;
}
.post-hearts{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: -1rem;
  align-items: center;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.heart{
  height: 0%;
  width: 2rem;
  display: inline-block;
}
.heart:hover{
  cursor: pointer;
}
.heart>span{
  font-size: 1.4rem;
  margin-left: 0.3rem;
  cursor: default;
  top: 0%;
}
.home-newpost-newicon, .home-newpost-button>p{
  vertical-align: middle;
}
.home-newpost-button>p{
  display: inline-block;
  margin-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
button{
  background-color: var(--website-theme);
  outline: none;
  border: none;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}
button:hover{
  cursor: pointer;
}
.postrenderer-large{
  width: 95vw;
  height: 90vh;
}
.post-body>p>img{
  max-width:100%;
max-height:100%;
object-fit: contain;
}
.go-to-home{
  font-size: 32px;
  width: 50px;
  color: #000;
}
.editor-file{
  position: absolute;
  opacity: 0;
  width: 90%;
  height: 8rem;
}
.editor-file-wrapper{
  background-color: #ce92ff;
  width: 90%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-left: 5.5ch;
  margin-bottom: 3ch;
  border-radius: 2px;
}
.heading-nav-center{
  text-align: center;
}
.logout{
  position: absolute;
  right: 1rem;
}
.post{
  text-align: center;
}