@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&display=swap");
html {
  --home-nocreds-authbuttons-padding: 22px;
  --home-nocreds-authbuttons-width: 100%;
  --website-theme: #ce92ff; 
  --postrenderer-confirm-modal-buttons-gap: 3rem;
  --postrender-confirm-modal-buttons-size: 18rem;
  --postrenderer-confirm-modal-bordersize: 0.25rem;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Noe';
  src: url("../../storage/Noe-Text-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Noe-Bold';
  src: url("../../storage/Noe-Text-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'BillaBong';
  src: url("../../storage/billabong.ttf");
}
body{
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
}
html {
  padding-left: 3px; 
}
  
.heading-nav {
  background-color: var(--website-theme);
  border-bottom: 1px solid black;
  opacity: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  display: flex;
  z-index: 3;
}
.branding-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  font-size: 1.2rem;
  font-family: 'BillaBong';
}
.branding-logo-parent{
  border-radius: 5rem;
  background: radial-gradient(circle at 30% 50%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 2.6rem;
  height: 100%;
  border-color: radial-gradient(circle at 30% 50%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.branding-logo{
    background: radial-gradient(circle at 30% 50%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.heading-nav > .username {
  position: absolute;
  top: -5px;
  line-height: 16px;
  right: 5.5rem;
  font-size: 1.1rem; 
}

/* .divider {
  padding-top: 32px; } */

.register-errorDisplay {
  display: none; }


.auth-form {
  padding-top: 8px;
  padding-left: 5px; 
}

.confirm-text {
  padding-top: 15px; 
}

.posts{
  display: grid;
}
.post-parent, .post, .post-body, .post-link{
  text-decoration: dotted;
}
.authenticated-home{
  text-align: center;
}
.confirmEmail-prompt-parent{
  display: flex;
  justify-content: center;
}
.confirmEmail-prompt{
  vertical-align: middle;
  text-align: center;
  margin-top: calc(49vh - 5rem - 3rem - 5rem);
}
.confirmEmail-prompt>h1{
  font-size: 5rem;
}
.confirmEmail-prompt>p{
  font-size: 0.8rem;
}

.profile-parent{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: calc(99vh);
  width: 100%;
}
.profile{
  background-color: red;
  padding: 2.5rem 2rem 2.5rem 2rem;
  text-align: center;
}
.email-url, .post-url{
  color: black;
}
.newPost-window-button-parent{
  text-align: center;
}
.newPost-window-title{
  width: 46%;
  height: 1rem;
  resize: none;
}
.post-hearts{
  display: flex;
  visibility: visible;
  justify-content: center;
  height: 10%;
  background-color: #285AEB;
}
.heart{
  width: 2rem;
  display: inline-block;
  bottom: 0px;
}
.heart:hover{
  cursor: pointer;
}
.heart>span{
  font-size: 1.4rem;
  margin-left: 0.3rem;
  cursor: default;
  top: 0%;
}
.home-newpost-newicon, .home-newpost-button>p{
  vertical-align: middle;
}
.home-newpost-button>p{
  display: inline-block;
  margin-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
button{
  background-color: var(--website-theme);
  outline: none;
  border: none;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}
button:hover{
  cursor: pointer;
}
.postrenderer-large{
  width: 95vw;
  height: 90vh;
}
.post-body>p>img{
  max-width:100%;
max-height:100%;
object-fit: contain;
}
.go-to-home{
  font-size: 32px;
  width: 50px;
  color: #000;
}
.editor-file{
  position: absolute;
  opacity: 0;
  width: 5rem;
  height: 1.5rem;
}
.editor-file-wrapper{
  width: 7rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-left: 5.5ch;
  margin-bottom: 3ch;
  border-radius: 2px;
  border: 1px solid black;
}
.heading-nav-center{
  text-align: center;
}
.logout{
  position: absolute;
  right: 1rem;
}
.post{
  text-align: center;
}
.post-img{
  flex-grow: 1;
  object-fit:contain;
}
.editor-firstline{
  display: inline-flex;
  line-height: 2%;
  gap: 1rem;
}
.post-hearts-parent{
    visibility: hidden;
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}